<div class="jumbotron">
    <h1>Система учета и контроля скоростного режима транспортных средств</h1>
    <p class="lead">Данное тестовое задание было реализовано с помощью Web API и однофайловой без серверной NoSql базы данных LiteDB.</p>
    <p><a href="https://www.litedb.org" class="btn btn-primary btn-lg">Узнать больше &raquo;</a></p>
    <p>
        Для удобства тестирования работоспособности проекта, реализовано четыре примитивных страницы, с помощью которых можно выполнять запросы к сервису.<br />
        Помимо этого, запросы так же можно отправлять с помощью сторонних приложений, поддерживающих отправку POST и GET (Fidler, Postman и др.) на адрес<br />
        http://localhost:55777/api/records/ <br />
        После /api/records/, необходимо указать требуемое действие и параметры (если требуется). <br />
        Например: http://localhost:55777/api/records/GetAll <br />
    </p>
    <p></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Добавление новых записей</h2>
        <p>
            На данной странице предоставляется возможность добавления новых записей в базу.
            По умолчанию, при первом запуске приложения, создается новая база и автоматически
            заполняется тестовыми записями. При желании - можно продолжать добавлять свои.
            При повторном запуске приложения база не удаляется, данные сохраняются.
        </p>
        <p><a class="btn btn-default" href="http://localhost:55777/DataInput/CreateRecordRequest">Добавить новую запись &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Просмотреть записи в БД</h2>
        <p>Данная страница представляет собой простой список всех записей в БД.</p>
        <p><a class="btn btn-default" href="http://localhost:55777/DataInput">Просмотреть записи &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Запрос на превышение скорости</h2>
        <p>На этой странице можно выполнить запрос к сервису для получения данных о превышении скорости за указанную дату.</p>
        <p><a class="btn btn-default" href="http://localhost:55777/DataInput/SpeedThresholdRequest">Выполнить запрос &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Запрос минимальной и максимальной скорости</h2>
        <p>Эта страница предоставляет функциональность для запроса максимальной и минимальной скорости за указанную дату.</p>
        <p><a class="btn btn-default" href="http://localhost:55777/DataInput/MinAndMaxByDateRequest">Выполнить запрос &raquo;</a></p>
    </div>
</div>
