@model VehicleSpeedControl.Models.Record
@{
    ViewBag.Title = "ErrorsView";
}

<h2>ErrorsView</h2>

<div>
    @Html.ValidationMessageFor(m => m.RegistrationTime)
    @Html.ViewContext.HttpContext.AllErrors
</div>

